@font-face {
  font-family: cursed_timer_ULiL;
  src: url(/CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
    width: 575px;
    height: 385px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    background-color: #080001;
    width: 155px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursed_timer_ULiL;
    font-size: 90px;
    color: #F94F6D;
    margin-bottom: 26px;
}

.add-container {
    width: 155px;
    display: flex;
    justify-content: space-between;
    text-shadow: 0px 0px 0px black;
}

.btn {
    width: 45px;
    height: 45px;
    font-family: cursed_timer_ULiL;
    font-size: 18px;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    background-color: #1B244A;
}

